<!--<div class='col-md-1 col-lg-1 col-sm-12'>-->
<!--&lt;!&ndash;<button type='submit' mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="onPress1()">Search</button>&ndash;&gt;-->
<!--<input type="text" name='url' class="form-control" placeholder="Url">-->
<!--<input type="text" name='name' class="form-control" placeholder="Url">-->
<!--<button type='submit' mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="onPress()">Search</button>-->
<!--<ul class="list-group" *ngFor="let ser of search">-->
<!--<li class="list-group-item">{{ ser.url }} (name: {{ ser.name }})</li>-->
<!--</ul>-->
<!--</div>-->

<body>
  <div class='container-fluid lighten-3 d-block homeSearchePan pt-1 pl-1 pr-1 stylo'>
    <div class='row'>
      <!--<video class="video-fluid z-depth-1" src="./animation1.mp4" [autoplay]="true" [loop]="true" autoplay loop controls muted>-->
      <!--&lt;!&ndash;<source src="./animation2.mp4" type="video/mp4" />&ndash;&gt;-->
      <!--</video>-->
      <div class='container-fluid text-center headd'>
        <br><br>
        <h2 class='sss fontStyle h6-responsive'>
          RESEARCH MORE SEARCH LESS
        </h2>
      </div>

      <div class='container-fluid text-center fdg'>
        <!-- Grd row -->
        <!--  -->
        
        <!-- Grd row -->
        <div [ngStyle]="{display: sss2}">
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 col-lg-6 col-sm-12 offset-md-3 offset-lg-3 offset-sm-0">
              <!-- Default input -->
              <input type="text" name='Author' id='authorId' class="form-control" [(ngModel)]="author"
                placeholder="Search for an author, article, publication, institute or any of your interest.">
            </div>
            <!-- Grid column -->
            <div class='col-md-1 col-lg-1 col-sm-12'>
              <button type='submit' mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light"
                mdbWavesEffect type="submit" (click)="onPress2()"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </button>
            </div>
          </div><br><br><br><br>
        </div>
        <!-- Grd row -->


      </div>
    </div>
  </div>
<h5 class="fontStyle" align="center" style="padding-top: 15px; font-weight: bolder; font-size: 30px;"><b>We recommend you !</b></h5>
  <div class='cardHolder fontStyle'>
      <div class='container-fluid'>
  
        <div class='row' style="padding-left: 20px; padding-right: 20px;">
  
          <div class="col-md-6 col-lg-6 col-sm-12">
            <div *ngFor="let item of this.recommendations">
            <div class="card">
              <div class="card-header bg-info">
                <p style="font-weight: bolder;" class="hovr">
                  <a (click)="openPub(item.id)">
                    <h5 class="hovr" style="color: snow;"><b>{{item.title}}</b></h5>
                    
                  </a>&nbsp;|&nbsp;
                  <span style="font-size: 10px;">{{item.year}}</span>
                </p>
              </div><br>
              <div class="card-body" > 
                <span *ngFor="let item1 of item.category">
                  <button class="btn btn-outline-dark btn-sm" (click)="searchCatttt(item1)">{{item1}}</button>
                </span>    
                <br>
              </div>
            </div><br></div>
          </div>
  
          <div class="col-md-6 col-lg-6 col-sm-12">
              <div *ngFor="let item of this.recommendations2">
              <div class="card">
                <div class="card-header bg-info">
                  <p style="font-weight: bolder;" class="hovr">
                    <a (click)="openPub(item.id)">
                      <h5 class="hovr" style="color: snow;"><b>{{item.title}}</b></h5>
                      
                    </a>&nbsp;|&nbsp;
                    <span style="font-size: 10px;">{{item.year}}</span>
                  </p>
                </div><br>
                <div class="card-body" > 
                  <span *ngFor="let item1 of item.category">
                    <button class="btn btn-outline-dark btn-sm" (click)="searchCatttt(item1)">{{item1}}</button>
                  </span>    
                  <br>
                </div>
              </div><br></div>
            </div>
  
        </div>
      </div>
    </div>
  

  <div class='cardHolder'>
    <div class='container-fluid'>

      <div class='row pad'>

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card">
            <div class="container-fluid containerCard">
              <h4 class="hovr" (click)="openForum()"><a><b>JOIN OUR COMMUNITY</b></a></h4>
              <p>Join our communiyt to help get helped. Post your queris and find response from a large community. Queries about publications and help other and get helped</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card">
            <div class="container-fluid containerCard">
              <h4><b>CONTACT US</b></h4>
              <table class="table table-hover table-bordered table-responsive">
                <tbody>
                  <tr>
                    <td>  <i class="fab fa-facebook-f"></i> facebook.com/usman</td>
                    <td> <i class="fas fa-envelope"></i> usman30.1996@hotmail.com</td>
                    <td> <i class="fas fa-phone"></i>0302-5081347</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- ================= -->



    </div>
  </div>

  
</body>
