.fontStyle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: slategray 1px 0 10px;
}

.navbar {
  margin-bottom: 5%;
}

.video-fluid {
  width: 100%;
  height: auto;
}
.stylo{
  font-family: "Times New Roman", Times, serif;
}
