<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class='container-fluid lighten-3 d-block homeSearchePan pt-1 pl-1 pr-1'>
        <!-- ======================================================= -->
        <div class="row top container-fluid">
            <div class="col-md-12 col-lg-12 col-sm-12 " style="padding-left: 50px">
            <h2 class="fontStyle">&nbsp;{{this.pub_result_obj.title}}
            </h2>
            <p class="fontStyle">
                &nbsp;&nbsp;{{this.pub_result_obj.year}}
            </p>
            </div>
        </div><br>
        <!-- ==================================================== -->
        <div class="row container-fluid" style="padding-top: 5px;">
            <div class="col-md-7 col-lg-7 col-sm-12 " style="padding-left: 50px; background-color: rgb(255, 255, 255);">
                <br><span *ngFor="let item of this.pub_result_obj.coAuthors"><span class="badge badge-pill badge-success stylo" (click)="viewCoauther(item.linkUrl)">{{item.name}}</span>
                &nbsp;&nbsp;
                </span><br><br>
                <p class="stylo">{{this.pub_result_obj.abstract}}</p><br><br>
                <h5 style="display: inline;">Catogories</h5>
                <span *ngFor="let item1 of this.pub_result_obj.catogories"><button class="btn btn-outline-dark btn-sm" (click)="searchCatt(item1)">{{item1}}</button>
                </span><br><br>
                <h5 style="display: inline;">External Link</h5>
                <button class="btn btn-outline-warning btn-sm">PDF link</button><br>
<!-- =============================================== -->
                <div class="container-fluid">
                    
                    <h3 class='alert-danger msg1'>{{this.artErrorMsg.detail}}</h3>
                    <h3 class='alert-success msg1'>{{this.artErrorMsg.message}}</h3>
                    <h3 class='alert-success msg1'>{{this.article_response.message}}</h3>

                </div>
<!-- =====================================form forum====================== -->
                <div id="id01" class="container-fluid model">
                    <form id='postArticle' class="modal-content animate" (submit)="createArticle()">
                    <span class="close" title="Close Modal" (click)="closeModel()">&times;</span>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" [(ngModel)]="title" class="form-control" id="title"
                        placeholder="Enter title.">
                        <small id="emailHelp" class="form-text text-muted">We'll never
                        share your email with anyone
                        else.</small><br><br>
                    </div>

                    <div class="form-group">
                        <label for="discription">Discription:</label>
                        <textarea rows="4" cols="50" [(ngModel)]="discription" id="discription" name="discription"
                        class="form-control" placeholder="Write discription."></textarea>
                        <small id="emailHelp" class="form-text text-muted">We'll never
                        share your email with anyone
                        else.</small><br><br>
                    </div>

                    <div class="custom-file form-group">
                        <input type="file" name="image" (change)="onFileSelected($event)" class="custom-file-input"
                        id="customFile">
                        <label class="custom-file-label" for="customFile">Want To Select
                        Photo</label>
                    </div>
                    <hr>
                    <label for="discription">Add Tags:</label>
                    <div class="form-group" id="tags">
                        <textarea rows="4" cols="50" [(ngModel)]="tagText" id="aboutid" name="tags" class="form-control"
                        placeholder="Tags related to ypur post"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Post">
                    <button type="submit" class="btn btn-danger" (click)="closeModel()">Cancel</button>
                    </form>
                </div>

                <div id="id02" class="container-fluid model">
                    <form id='updateArticle' class="modal-content animate">
                    <span class="close" title="Close Modal" (click)="closeModel2()">&times;</span>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" value={{this.editFormArt.title}} [(ngModel)]="title" class="form-control"
                        id="title" placeholder="Enter title.">
                        <small id="emailHelp" class="form-text text-muted">We'll never
                        share your email with anyone
                        else.</small><br><br>
                    </div>

                    <div class="form-group">
                        <label for="discription">Discription:</label>
                        <textarea rows="4" cols="50" value={{this.editFormArt.discription}} [(ngModel)]="discription"
                        id="discription" name="discription" class="form-control" placeholder="Write discription."></textarea>
                        <small id="emailHelp" class="form-text text-muted"></small><br><br>
                    </div>

                    <div class="custom-file form-group">
                        <input type="file" name="image" (change)="onFileSelected($event)" class="custom-file-input"
                        id="customFile">
                        <label class="custom-file-label" for="customFile">Want To Select
                        Photo</label>
                    </div>
                    <br><br>
                    <label for="discription">Add Tags:</label>
                    <div class="form-group" id="tags">
                        <textarea rows="4" cols="50" value={{this.editFormArt.tags}} [(ngModel)]="tagText" id="aboutid"
                        name="tags" class="form-control" placeholder="Tags related to ypur post"></textarea>
                    </div>

                    <input type="submit" (click)="updateArticle()" class="btn btn-primary" name="Update" value="Update">
                    <button class="btn btn-danger" (click)="closeModel2()">Cancel</button>
                    </form>
                </div>
<!-- ==================================================end======================== -->
            <!-- Blog Post -->
            <div class="container-fluid" style="background-color: snow;">
            <br>
            <p class='allo'><button type="button" (click)="openModel()" class="btn btn-primary"><i
            class="fa fa-plus" aria-hidden="true"></i>
            Post Your Query</button>
            </p>
            <button id='loggg' type="button" (click)="goLog()" class="btn
                    btn-success stylo">Login To Post Comment</button>
            <hr><br>
            <div class="card mb-4"  id="postss" *ngFor="let item of
            this.article_response3">
            <div class="card-body">
              <h2 class="card-title stylo" (click)="viewComment(item.id)"><a>{{item.title}}</a></h2>
              <p class="card-text stylo">{{item.discription}}</p>
              <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-md-12 post-header-line stylo">
                  <i class="fas fa-user"></i>By <a (click)="openProfile(item.userId)" style="color:blueviolet;">{{item.username}}</a>
                  &nbsp;|&nbsp; <i class="fas fa-calendar"></i>{{item.Updated_at.substr(0,10)}}&nbsp;|&nbsp;
                  <i class="fas fa-comment"></i><a style="color: rgb(67, 95,
                    221)" (click)="viewComment(item.id)">
                    Comments</a> &nbsp;|&nbsp;<i class="fas fa-tags"></i>
                  Tags : <a href="#"><span class="badge badge-primary"
                      *ngFor="let ta of item.tags">{{ta}}&nbsp;&nbsp;&nbsp;</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>

            </div>
            <div class="col-md-5 col-lg-5 col-sm-12" style="padding-left: 50px; background-color: snow">
                <div class="card">
                    <div class="card-header bg-info">Similar publications from same author:</div><br>
                    <div class="card-body scrool" [ngStyle]="{'height': hhh}">
                        <table class="table table-light table-striped rounded-left" style="border: 1px solid black; background-color: rgb(211, 211, 211);"  *ngFor="let item of this.recommendPub.sameAuthor">
                        <tbody>
                            <tr>
                            <td style="font-weight: bolder;"  class="hovr"><a (click)="openPub(item.id)">{{item.title}}</a>&nbsp;|&nbsp;<p style="font-size: 10px;">{{item.year}}</p></td>
                            </tr>
                            <tr>
                            <td><span *ngFor="let item1 of item.category"><button class="btn btn-outline-dark btn-sm" (click)="searchCatt(item1)">{{item1}}</button>
                                </span></td>
                            </tr>
                        </tbody>
                        </table>
                        <br>
                    </div>
                </div><br>

                <div class="card">
                    <div class="card-header bg-info">Similar publications from different authors:</div><br>
                    <div class="card-body scrool" [ngStyle]="{'height': hhh2}">
                        <table class="table table-light table-striped rounded-left" style="border: 1px solid black; background-color: rgb(211, 211, 211);"  *ngFor="let item of this.recommendPub.notSameAuthor">
                        <tbody>
                            <tr>
                            <td style="font-weight: bolder;" class="hovr"><a (click)="openPub(item.id)">{{item.title}}</a>&nbsp;|&nbsp;<p style="font-size: 10px;">{{item.year}}</p></td>
                            </tr>
                            <tr>
                            <td><span *ngFor="let item1 of item.category"><button class="btn btn-outline-dark btn-sm" (click)="searchCatt(item1)">{{item1}}</button>
                                </span></td>
                            </tr>
                        </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===================================================== -->

    </div>
</body>
