<!-- Footer -->
<footer class="page-footer font-small morpheus-den-gradient pt-1">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h2 class="text-uppercase fontStyle">About PSS</h2>
        <p>Professional Social Network is a free public web search engine for academic publications and literature, developed by Usman/Ali</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h3 class="text-uppercase fontStyle">Usefull Links</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!">License</a>
          </li>
          <li>
            <a href="#!">Terms and Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h3 class="text-uppercase fontStyle">Company</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Email</a>
          </li>
          <li>
            <a href="#!">Phone</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">Professional Social Network</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
